<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Holst</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="semantic/semantic.min.css" />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body class="pushable">

    <main id="app">

    <div class="ui top push visible sidebar inverted main menu">
      <div class="item">Holst</div>
      <div class="item">
        <div class="ui mini input">
          <input type="text" v-model="url" v-on:keyup.enter="setDBUrl"
          placeholder="http://localhost:5984/..." />
        </div>
      </div>

      <div class="right menu">
        <div class="item">
          <!-- sync form toggle button -->
          <div class="ui green icon button"
            v-on:click="showSyncForm = true">
            <i class="random icon"></i> Sync
          </div>
        </div>
      </div>
    </div>


    <!-- main app content -->
    <div class="pusher">

      <!-- document navigation -->
      <div class="ui left vertical visible sidebar menu">
        <div class="item">
          <div class="ui transparent icon input">
            <input placeholder="new doc name" type="text"
              v-model="new_doc_name"
              v-on:keyup.enter="newDoc" />
            <i class="plus link icon" v-on:click="newDoc"></i>
          </div>
        </div>
        <div class="item" v-for="(item, $key) in ids" :class="{ active: $key == doc._id }"
          v-on:click="loadDoc($event, $key)">
          <a :href="$key">{{$key}}</a>
          <div class="menu" v-if="$key == doc._id">
            <a class="item" v-for="rev in item.revs">{{rev}}</a>
          </div>
          <div class="ui mini buttons segment"
            v-if="$key == doc._id">
            <a class="ui basic red icon button"
               :href="$key" title="delete this note"
               v-on:click="deleteDoc" v-on:blur="confirmDelete = false">
              <i class="ui trash icon"></i>
              <span v-if="!confirmDelete">delete</span>
              <span v-if="confirmDelete">are you sure?</span>
            </a>
          </div>
        </div>
    </div>

    <div class="pusher">
      <div class="ui internally celled grid">
        <div class="stretched row">
          <textarea id="editor" class="sixteen wide column"
            v-model="jsonDoc"></textarea>
        </div>
      </div>
    </div>

    <!-- sync form -->
    <div class="ui dimmer modals page transition" :class="{ visible: showSyncForm, active: showSyncForm }" :style="showSyncFormStyles">
      <div class="ui small modal transition active scrolling" :class="{ visible: showSyncForm, active: showSyncForm }">
        <div class="content">
          <div class="ui form">
            <div class="fields">
              <div class="four wide field">
                <label>Username</label>
                <input type="text" placeholder="username"
                  v-model="remote.username" />
              </div>
              <div class="four wide field">
                <label>Password</label>
                <input type="password" placeholder="password"
                  v-model="remote.password" />
              </div>
              <div class="eight wide field">
                <label>CouchDB or PouchDB URL</label>
                <div class="ui input">
                  <input type="text"
                    placeholder="https://example.com/database"
                    v-model="remote.url" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui cancel icon button"
            v-on:click="showSyncForm = false">
            <i class="close icon"></i> Cancel
          </div>
          <button class="ui positive icon button" v-on:click="syncTo">
            <i class="random icon"></i> Sync
          </button>
        </div>
      </div>
    </div>

    </main>

    <!-- app -->
    <script src="bundle.js"></script>
  </body>
</html>
